In [10]:
import numpy
import pandas as pd

snyder_dataset = pd.read_excel(
    'candidates_2006-2020.xls')

In [11]:
snyder_dataset

,year,state,office,dist,type,nextup,party,party_formal,name_snyder,inc,candidatevotes,totalvotes,won,runoff
0,2006,AK,H,1.0,G,2008.0,D,D,"BENSON, DIANE E.",0.0,93879.0,234085.0,0.0,NaN
1,2006,AK,H,1.0,G,2008.0,Grn,Grn,"INCE, EVA L.",0.0,1819.0,234085.0,0.0,NaN
2,2006,AK,H,1.0,G,2008.0,Lbt,Lbt,"CRAWFORD, ALEXANDER",0.0,4029.0,234085.0,0.0,NaN
3,2006,AK,H,1.0,G,2008.0,Other,Imp,"RATIGAN, WILLIAM W. (BILL)",0.0,1615.0,234085.0,0.0,NaN
4,2006,AK,H,1.0,G,2008.0,R,R,"YOUNG, DONALD E. (DON)",1.0,132743.0,234085.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12720,2021,LA,H,5.0,S,2022.0,R,R,"MAGNUSON, JAYCEE",0.0,131.0,103616.0,0.0,NaN
12721,2021,LA,H,5.0,S,2022.0,R,R,"MELTON, HORACE, III",0.0,62.0,103616.0,0.0,NaN
12722,2021,LA,H,5.0,S,2022.0,R,R,"PANNELL, RICHARD H.",0.0,67.0,103616.0,0.0,NaN
12723,2021,LA,H,5.0,S,2022.0,R,R,"SMITH, SANCHA",0.0,334.0,103616.0,0.0,NaN
12724,2021,LA,H,5.0,S,2022.0,R,R,"VICTOR, ERROL, SR.",0.0,36.0,103616.0,0.0,NaN

In [18]:
# H for the US House of Representatives, S for the US Senate, and G for Governor.
office_group = snyder_dataset.groupby('office')
office_group['office'].describe()

       count unique top  freq
office
G        868      1   G   868
H       9414      1   H  9414
P       1278      1   P  1278
S       1165      1   S  1165

In [12]:
# First, I will make the dataset for House Members First
house_dataset = snyder_dataset[snyder_dataset.office.str.contains("H")]

In [13]:
house_dataset

,year,state,office,dist,type,nextup,party,party_formal,name_snyder,inc,candidatevotes,totalvotes,won,runoff
0,2006,AK,H,1.0,G,2008.0,D,D,"BENSON, DIANE E.",0.0,93879.0,234085.0,0.0,NaN
1,2006,AK,H,1.0,G,2008.0,Grn,Grn,"INCE, EVA L.",0.0,1819.0,234085.0,0.0,NaN
2,2006,AK,H,1.0,G,2008.0,Lbt,Lbt,"CRAWFORD, ALEXANDER",0.0,4029.0,234085.0,0.0,NaN
3,2006,AK,H,1.0,G,2008.0,Other,Imp,"RATIGAN, WILLIAM W. (BILL)",0.0,1615.0,234085.0,0.0,NaN
4,2006,AK,H,1.0,G,2008.0,R,R,"YOUNG, DONALD E. (DON)",1.0,132743.0,234085.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12720,2021,LA,H,5.0,S,2022.0,R,R,"MAGNUSON, JAYCEE",0.0,131.0,103616.0,0.0,NaN
12721,2021,LA,H,5.0,S,2022.0,R,R,"MELTON, HORACE, III",0.0,62.0,103616.0,0.0,NaN
12722,2021,LA,H,5.0,S,2022.0,R,R,"PANNELL, RICHARD H.",0.0,67.0,103616.0,0.0,NaN
12723,2021,LA,H,5.0,S,2022.0,R,R,"SMITH, SANCHA",0.0,334.0,103616.0,0.0,NaN
12724,2021,LA,H,5.0,S,2022.0,R,R,"VICTOR, ERROL, SR.",0.0,36.0,103616.0,0.0,NaN

In [20]:
house_dataset.isnull().sum()
# There is missing incumbency status, votes the candidate received, and total votes. There are only 27 of them
# though so this can be added in manually

year                 0
state                0
office               0
dist                 0
type                 0
nextup               0
party                0
party_formal         0
name_snyder          0
inc                  3
candidatevotes      27
totalvotes          27
won                  3
runoff            9078
dtype: int64

In [30]:
winner_group = house_dataset[house_dataset["won"] == 1]
winner_group["name_snyder"]

4                  YOUNG, DONALD E. (DON)
15       CRAMER, ROBERT EDWARD (BUD), JR.
16                  DAVIS, ARTUR GENESTRE
18        BONNER, JOSIAH ROBIAS (JO), JR.
19                  EVERETT, ROBERT TERRY
                       ...
12696                  MCKINLEY, DAVID B.
12697         MOONEY, ALEXANDER X. (ALEX)
12698                       MILLER, CAROL
12712                         CHENEY, LIZ
12716                       LETLOW, JULIA
Name: name_snyder, Length: 3546, dtype: object